In [1]:
import pandas
import numpy
from sklearn import preprocessing

In [7]:
df = pandas.read_csv("adult.csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
df = df.drop(["fnlwgt", "educational-num"], axis=1)
cols = df.columns

for col in cols:
    df = df.replace("?", numpy.nan)
df = df.apply(lambda x: x.fillna(x.value_counts().index[0]))

In [9]:
df.replace(
    [
        "Divorced",
        "Married-AF-spouse",
        "Married-civ-spouse",
        "Married-spouse-absent",
        "Never-married",
        "Separated",
        "Widowed",
    ],
    [
        "divorced",
        "married",
        "married",
        "married",
        "not married",
        "not married",
        "not married",
    ],
    inplace=True,
)

category_col = [
    "workclass",
    "race",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "gender",
    "native-country",
    "income",
]

labelEncoder = preprocessing.LabelEncoder()

mapping = {}

for col in category_col:
    df[col] = labelEncoder.fit_transform(df[col])

    nameMap = dict(zip(labelEncoder.classes_, labelEncoder.transform(labelEncoder.classes_)))

    mapping[col] = nameMap

print(mapping)

{'workclass': {' ?': np.int64(0), ' Federal-gov': np.int64(1), ' Local-gov': np.int64(2), ' Never-worked': np.int64(3), ' Private': np.int64(4), ' Self-emp-inc': np.int64(5), ' Self-emp-not-inc': np.int64(6), ' State-gov': np.int64(7), ' Without-pay': np.int64(8)}, 'race': {' Amer-Indian-Eskimo': np.int64(0), ' Asian-Pac-Islander': np.int64(1), ' Black': np.int64(2), ' Other': np.int64(3), ' White': np.int64(4)}, 'education': {' 10th': np.int64(0), ' 11th': np.int64(1), ' 12th': np.int64(2), ' 1st-4th': np.int64(3), ' 5th-6th': np.int64(4), ' 7th-8th': np.int64(5), ' 9th': np.int64(6), ' Assoc-acdm': np.int64(7), ' Assoc-voc': np.int64(8), ' Bachelors': np.int64(9), ' Doctorate': np.int64(10), ' HS-grad': np.int64(11), ' Masters': np.int64(12), ' Preschool': np.int64(13), ' Prof-school': np.int64(14), ' Some-college': np.int64(15)}, 'marital-status': {' Divorced': np.int64(0), ' Married-AF-spouse': np.int64(1), ' Married-civ-spouse': np.int64(2), ' Married-spouse-absent': np.int64(3), ' Never-married': np.int64(4), ' Separated': np.int64(5), ' Widowed': np.int64(6)}, 'occupation': {' ?': np.int64(0), ' Adm-clerical': np.int64(1), ' Armed-Forces': np.int64(2), ' Craft-repair': np.int64(3), ' Exec-managerial': np.int64(4), ' Farming-fishing': np.int64(5), ' Handlers-cleaners': np.int64(6), ' Machine-op-inspct': np.int64(7), ' Other-service': np.int64(8), ' Priv-house-serv': np.int64(9), ' Prof-specialty': np.int64(10), ' Protective-serv': np.int64(11), ' Sales': np.int64(12), ' Tech-support': np.int64(13), ' Transport-moving': np.int64(14)}, 'relationship': {' Husband': np.int64(0), ' Not-in-family': np.int64(1), ' Other-relative': np.int64(2), ' Own-child': np.int64(3), ' Unmarried': np.int64(4), ' Wife': np.int64(5)}, 'gender': {' Female': np.int64(0), ' Male': np.int64(1)}, 'native-country': {' ?': np.int64(0), ' Cambodia': np.int64(1), ' Canada': np.int64(2), ' China': np.int64(3), ' Columbia': np.int64(4), ' Cuba': np.int64(5), ' Dominican-Republic': np.int64(6), ' Ecuador': np.int64(7), ' El-Salvador': np.int64(8), ' England': np.int64(9), ' France': np.int64(10), ' Germany': np.int64(11), ' Greece': np.int64(12), ' Guatemala': np.int64(13), ' Haiti': np.int64(14), ' Holand-Netherlands': np.int64(15), ' Honduras': np.int64(16), ' Hong': np.int64(17), ' Hungary': np.int64(18), ' India': np.int64(19), ' Iran': np.int64(20), ' Ireland': np.int64(21), ' Italy': np.int64(22), ' Jamaica': np.int64(23), ' Japan': np.int64(24), ' Laos': np.int64(25), ' Mexico': np.int64(26), ' Nicaragua': np.int64(27), ' Outlying-US(Guam-USVI-etc)': np.int64(28), ' Peru': np.int64(29), ' Philippines': np.int64(30), ' Poland': np.int64(31), ' Portugal': np.int64(32), ' Puerto-Rico': np.int64(33), ' Scotland': np.int64(34), ' South': np.int64(35), ' Taiwan': np.int64(36), ' Thailand': np.int64(37), ' Trinadad&Tobago': np.int64(38), ' United-States': np.int64(39), ' Vietnam': np.int64(40), ' Yugoslavia': np.int64(41)}, 'income': {' <=50K': np.int64(0), ' >50K': np.int64(1)}}

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

x = df.values[:, 0:12]
y = df.values[:, 12]

In [11]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=100)

classifier = DecisionTreeClassifier(criterion="gini", random_state=100, max_depth=5, min_samples_leaf=5)

classifier.fit(xtrain, ytrain)
prediction = classifier.predict(xtest)

print("Accuracy is:", accuracy_score(ytest, prediction)*100)

Accuracy is: 83.13031016480704